<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered is-centered">
      <div class="column is-6">
        <h1 class="title is-2">
          MicroTypes
        </h1>
        <h2 class="subtitle is-4">
          Let's break down the monoliths of APIs.
        </h2>
        <br>
        <p class="has-text-centered">
          <a class="button is-medium is-info is-outlined">
            Continue
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
