<br>
<footer class="footer">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-12">
        <div class="content has-text-centered">
          <p>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
          </a>
          <br />
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License
          </a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
