.footer {
  background-color: #FFF;
  padding: 0;
}
.navbar-burger {
  background-color: #FFF;
  border-radius: 10%;
}
@media screen and (min-width: 1216px) {
  .navbar {
    background-color: #FFF !important;
  }
}
.main-title {
  margin-top: 50px;
}
a.navbar-item.is-active {
  background-color: #F5F5F5 !important;
}
