<div class="container">
  <div class="columns is-vcentered is-centered">
    <div class="column is-12">
      <div class="content">
        {{md-text
          text=model.content
          typographer=true
          linkify=false
          html=true
          dynamic=true
        }}
      </div>
    </div>
  </div>
</div>

